---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My First Astro Website!";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<p>Just playing a bit with this Astro stuff...</p>
</BaseLayout>